/* =================================
  Base Element Styles
==================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
    font-style: italic;
    font-size: .8em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
    font-style: italic;
    font-size: .8em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
    font-style: italic;
    font-size: .8em;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
    font-style: italic;
    font-size: .8em;
}

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.6;
	display: flex;
  color: #2d3945;
  background: #fff;
}



p {
  text-align: center;
}

button {
  background: #4ebbb5;
  color: #fff;
  padding: .625em 1.25em;
	border-radius: .35em;
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: .35em;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

input:focus,
textarea:focus {
  border: 1px solid #46698b;
}

input:placeholder {
  text-align: right;

}


/* =================================
  Base Layout Styles
==================================== */
.wrapper {
    margin: auto;
}

.main-content,
form,
fieldset {
  display: flex;
  flex-direction: column;
}

.primary-header {
  background: #2d3945;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.secondary-header,
.main-content {
  margin: auto;
  margin: 0 0 30px 0;
  align-items: center;
}

.secondary-header {
    text-align: center;
}

.header-title {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
/* ---- Navigation ---- */


/* =================================
  Media Queries
==================================== */
