/* =================================
  Base Element Styles
==================================== */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  direction: rtl;
  font-style: italic;
  font-size: 0.8em;
  overflow: visible;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  direction: rtl;
  font-style: italic;
  font-size: 0.8em;
  overflow: visible;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ but I'm not sure about working */
  direction: rtl;
  font-style: italic;
  font-size: 0.8em;
  overflow: visible;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  direction: rtl;
  font-style: italic;
  font-size: 0.8em;
  overflow: visible;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  display: flex;
  color: #2d3945;
  background: #fff;
}

p {
  text-align: center;
}
p,
label {
  font-size: 0.9em;
}

label {
  padding-bottom: 10px;
}

h2 {
  font-size: 1.25em;
}

button {
  background: #4ebbb5;
  color: #fff;
  padding: 0.625em 1.25em;
  border-radius: 0.35em;
  margin: 0 10px 20px;
  height: 60px;
}

button:hover {
  opacity: 0.8;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.35em;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

input[id="zip_code"] {
  width: 50%;
}

.zip {
  display: block;
}

input:focus,
textarea:focus {
  border: 1px solid #46698b;
}

input:placeholder {
  text-align: right;
  overflow: visible;
}

/* =================================
  Base Layout Styles
==================================== */
.wrapper {
  margin: auto;
  width: 100%;
}

.primary-header {
  background: #2d3945;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-title {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.bold-line {
  height: 4px;
}

.light-line {
  height: 2px;
}

.bold-line,
.light-line {
  margin-bottom: 5px;
  background: #2d3945;
}

.main-content,
form,
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

fieldset {
  flex-wrap: wrap;
}

.secondary-header,
.main-content {
  margin: 0 0 30px 0;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.secondary-header {
  text-align: center;
}

.header-description,
.footer {
  color: #a9a9a9;
}

.header-description {
  margin-top: -10px;
  margin-bottom: 30px;
}

.contact,
.newsletter {
  padding-bottom: 20px;
}
.section-title {
  padding-top: 20px;
}

.footer {
  font-style: italic;
  margin-bottom: 150px;
}

/* =================================
  Media Queries
==================================== */

@media screen and (min-width: 768px) {
  .secondary-header,
  .main-content {
    margin: 0 0 30px 0;
    align-items: center;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
  }

  .flex-input {
    display: flex;
    justify-content: space-between;
  }

  input[id="zip_code"] {
    margin-right: 33%;
  }

  .item-label {
    width: 50%;
  }
}
